@model IEnumerable<ChalinStore.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{

    <ul class="sidebar_categories">
        @if(ViewBag.CateId == null)
    {
        <li class="active"><a href="/san-pham"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Tất Cả</a></li>
    }
        else
        {
            <li><a href="/san-pham"><span></span>Tất Cả</a></li>
        }
       
        @foreach (var item in Model)
        {
            if (ViewBag.CateId == item.Id)
            {
                //kiên làm  kết nối dm sp đưa ra trang dm sp cân tìm
                <li class="active"><a href="/danh-muc-san-pham/@item.Alias-@(item.Id)"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.Title</a></li>
            }
            else
            {
                <li><a href="/danh-muc-san-pham/@item.Alias-@(item.Id)">@item.Title</a></li>
            }
        }
    </ul>
}
