
@*@model IEnumerable<ChalinStore.Models.EF.Comments>
@if (Model != null && Model.Any())
{
    int i = 1;
        <div class="user_review_container d-flex flex-column flex-sm-row">
            @foreach (var item in Model) { 
                <div class="user">
                    <div class="user_pic"></div>
                    <div class="user_rating">
                        <ul class="star_rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="review">
                     <div class="review_date">@item.CommentDate</div>
                     <div class="user_name">@User.Identity.Name</div>
                     <p>@item.CommentMsg</p>
                 </div>
            }
        </div>
}*@

