
@{
    ViewBag.Title = "Details_1";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thống kê</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Thống kê</li>
                    <li class="breadcrumb-item">
                        <a href="/admin/statistical/Details">Thống kê san pham</a>
                    </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thống kê danh thu</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-info btn-flat daban">Đã Bán</button>
                <button type="button" class="btn btn-info btn-flat chothanhtoan">Chờ Thanh Toán</button>
                <button type="button" class="btn btn-info btn-flat huydon">Huỷ Đơn</button>
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên SP</th>
                            <th>Số Lương </th>
                            <th>Số Lương Tồn</th>
                            <th>Số Lương Nhập </th>
                            <th>Giá bán</th>
                            <th>Giá Nhập</th>
                        </tr>
                    </thead>
                    <tbody id="load_data"></tbody>
                </table>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script src="~/Content/clients/plugins/chart.js/Chart.min.js"></script>
    <script src="~/Content/assets/plugins/moment/moment.min.js"></script>
    <script>


        $('body').on('click', '.btn.btn-info.btn-flat.daban', function () {

            var ngaydau = $('#ngaydau').val();
            var ngaycuoi = $('#ngaycuoi').val();

            $.ajax({
                url: '/Statistical/GetStatistical_Productb',
                type: 'GET',
                data: { fromDate: '', toDate: '' },
                data1: { fromDate: '', toDate: '' },
                success: function (rs) {
                    load_data(rs.Data, rs.Data1);
                }
            });


        })

        $('body').on('click', '.btn.btn-info.btn-flat.chothanhtoan', function () {

            var ngaydau = $('#ngaydau').val();
            var ngaycuoi = $('#ngaycuoi').val();

            $.ajax({
                url: '/Statistical/GetStatistical_Productc',
                type: 'GET',
                data: { fromDate: '', toDate: '' },
                data1: { fromDate: '', toDate: '' },
                success: function (rs) {
                    load_data(rs.Data, rs.Data1);
                }
            });


        })

        $('body').on('click', '.btn.btn-info.btn-flat.huydon', function () {

            var ngaydau = $('#ngaydau').val();
            var ngaycuoi = $('#ngaycuoi').val();

            $.ajax({
                url: '/Statistical/GetStatistical_Producth',
                type: 'GET',
                data: { fromDate: '', toDate: '' },
                data1: { fromDate: '', toDate: '' },
                success: function (rs) {
                    load_data(rs.Data, rs.Data1);
                }
            });


        })
        // hiển thị danh sách for
        function load_data(data, data1) {
            var strHtml = "";
            $.each(data, function (i, item) {
                strHtml += "<tr>";
                strHtml += "<td>" + (i + 1) + "</td>";
                strHtml += "<td>" + item.product_Title + "</td>";
                strHtml += "<td>" + item.orderDetail_Quantity + "</td>";
                strHtml += "<td>" + item.product_Quantity + "</td>";
                $.each(data1, function (o, item1) {
                    if (item.orderDetail_ProductId == item1.orderDetail_ProductId) {

                        strHtml += "<td>" + item1.Input_Quantity + "</td>";
                    }

                })                
                strHtml += "<td>" + item.product_Price + "</td>";
                strHtml += "<td>" + item.product_OriginalPrice + "</td>";
                strHtml += "</tr>";
            });

            $('#load_data').html(strHtml);
        }
    </script>
}
